:root[data-theme="light"] {
    --bg-main: #f6f6f6;
    --bg-secondary: #ffffff;
    --text-main: #1a1a1a;
    --text-muted: #c4c4c4;
    --text-hover: #a6a6a6;
    --highlight: #1C46F5;
    --accent: #D3F36A;
    --btn-disabled-bg: #DDDEDF;
    --btn-disabled-text: #A8AAB5;
    --highlight-hover: #4F72F7;
    --highlight-active: #152FAE;
    --accent-hover: #E2F89A;
    --accent-active: #9BB35B;
    --border-default: #dcdcdc;
}

:root[data-theme="dark"] {
    --bg-main: #121212;
    --bg-secondary: #1e1e1e;
    --text-main: #ffffff;
    --text-muted: #e0e0e0;
    --text-hover: #c4c4c4;
    --highlight: #1C46F5;
    --accent: #D3F36A;
    --btn-disabled-bg: #DDDEDF;
    --btn-disabled-text: #A8AAB5;
    --highlight-hover: #4F72F7;
    --highlight-active: #152FAE;
    --accent-hover: #E2F89A;
    --accent-active: #9BB35B;
    --border-default: #dcdcdc;
}

body {
    margin: 0;
    font-family: 'Schibsted Grotesk', sans-serif;
    background-color: var(--bg-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    width: 100%;
    flex-wrap: wrap;
    /* support mobile stacking */
}

.signup-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    box-sizing: border-box;
}

.signup-block {
    width: 313px;
}

.image-container {
    width: 50%;
    min-height: 100vh;
    background: url('../static/signup.jpg') center center/cover no-repeat;
    flex-grow: 1;
}

.namelogo {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-bottom: 16px;
}

.logo {
    height: 56px;
}

.name {
    font-weight: 500;
    font-size: 1.125rem;
}

.signup {
    font-size: 2.75rem;
    margin: 0;
    color: var(--text-main);
    font-weight: 600;
}

.checkbox-forgot-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.forgot-password a {
    color: var(--highlight);
    font-size: 1rem;
    text-decoration: none;
}

p.subtitle {
    margin: 12px 0 24px;
    color: var(--text-muted);
    font-size: 1.125rem;
    font-weight: 400;
}

.input-group {
    position: relative;
    margin-bottom: 16px;
}

.input-group input {
    width: 100%;
    padding: 18px 42px 18px 42px;
    border: 1px solid var(--border-default);
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 1rem;
    color: var(--text-main);
}

.input-group .icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: var(--text-muted);
}

.input-group .toggle-eye {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--text-muted);
}

.checkbox-group {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: var(--text-muted);
}

.checkbox-group input[type="checkbox"] {
    accent-color: var(--highlight);
    margin-right: 8px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.checkbox-group a {
    color: var(--highlight);
    text-decoration: none;
}

.signup-btn {
    font-size: 1rem;
    font-family: 'Schibsted Grotesk', sans-serif;
    padding: 12px 24px;
    box-sizing: border-box;
    border: none;
    background-color: var(--highlight);
    border-radius: 10px;
    cursor: pointer;
    color: var(--bg-main);
    text-align: center;
    width: 100%;
}

.signup-btn:hover {
    background-color: var(--highlight-hover);
}

.signup-btn:active {
    background-color: var(--highlight-active);
}

.login-link {
    margin-top: 12px;
    text-align: center;
    font-size: 1rem;
    color: var(--text-muted);
}

.login-link a {
    color: var(--highlight);
    text-decoration: none;
}

.filled-icon {
    color: var(--text-muted);

    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}

.custom-input::placeholder {
    color: var(--text-muted);
}

.underline {
    text-decoration: underline;
    color: var(--highlight);
}



@media (min-width: 768px) and (max-width: 1024px) {
    .image-container {
        display: none;
    }

    .signup-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px 20px;
        box-sizing: border-box;
    }
}

@media (max-width: 767px) {
    .image-container {
        display: none;
    }

    .signup-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px 20px;
        box-sizing: border-box;
    }
}