        body {
            margin: 0;
            font-family: 'Schibsted Grotesk', sans-serif;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .main-container {
            display: flex;
            flex-direction: row;
            min-height: 100vh;
            width: 100%;
            flex-wrap: wrap;
            /* support mobile stacking */
        }

        .signup-container {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 40px 20px;
            box-sizing: border-box;
        }

        .signup-block {
            width: 313px;
        }

        .image-container {
            width: 50%;
            min-height: 100vh;
            background: url('../static/signup.jpg') center center/cover no-repeat;
            flex-grow: 1;
        }

        .namelogo {
            display: flex;
            align-items: center;
            gap: 16px;
            padding-bottom: 16px;
        }

        .logo {
            height: 56px;
        }

        .name {
            font-weight: 500;
            font-size: 1.125rem;
        }

        .signup {
            font-size: 2.75rem;
            margin: 0;
            color: #1A1A1A;
            font-weight: 600;
        }

        p.subtitle {
            margin: 12px 0 24px;
            color: #C4C4C4;
            font-size: 1.125rem;
            font-weight: 400;
        }

        .input-group {
            position: relative;
            margin-bottom: 16px;
        }

        .input-group input {
            width: 100%;
            padding: 18px 42px 18px 42px;
            border: 1px solid #DCDCDC;
            border-radius: 10px;
            box-sizing: border-box;
            font-size: 1rem;
            color: #1A1A1A;
        }

        .input-group .icon {
            position: absolute;
            top: 50%;
            left: 12px;
            transform: translateY(-50%);
            color: #C4C4C4;
        }

        .input-group .toggle-eye {
            position: absolute;
            top: 50%;
            right: 16px;
            transform: translateY(-50%);
            cursor: pointer;
            color: #C4C4C4;
        }

        .checkbox-group {
            display: flex;
            align-items: center;
            margin-bottom: 24px;
            font-size: 1rem;
            color: #C4C4C4;
        }

        .checkbox-group input[type="checkbox"] {
            accent-color: #1C46F5;
            margin-right: 8px;
            width: 20px;
            height: 20px;
            cursor: pointer;
        }

        .checkbox-group a {
            color: #1C46F5;
            text-decoration: none;
        }

        .signup-btn {
            font-size: 1rem;
            font-family: 'Schibsted Grotesk', sans-serif;
            padding: 12px 24px;
            box-sizing: border-box;
            border: none;
            background-color: #1C46F5;
            border-radius: 10px;
            cursor: pointer;
            color: #f6f6f6;
            text-align: center;
            width: 100%;
        }

        .signup-btn:hover {
            background-color: #4F72F7;
        }

        .signup-btn:active {
            background-color: #152FAE;
        }

        .login-link {
            margin-top: 12px;
            text-align: center;
            font-size: 1rem;
            color: #C4C4C4;
        }

        .login-link a {
            color: #1C46F5;
            text-decoration: none;
            font-weight: 500;
        }

        .filled-icon {
            color: #C4C4C4;

            font-variation-settings:
                'FILL' 1,
                'wght' 400,
                'GRAD' 0,
                'opsz' 24;
        }

        .custom-input::placeholder {
            color: #c4c4c4;
        }

        .underline {
            text-decoration: underline;
            color: #1C46F5;
        }

        @media (min-width: 768px) and (max-width: 1024px) {
            .image-container {
                display: none;
            }

            .signup-container {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 40px 20px;
                box-sizing: border-box;
            }
        }

        @media (max-width: 767px) {
            .image-container {
                display: none;
            }

            .signup-container {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 40px 20px;
                box-sizing: border-box;
            }
        }