{% extends "base.html" %}
{% block content %}

<div class="card">
    <div class="post-title">Pair Up</div>

    {% if users %}
    {% for user in users %}
    <div class="profile-more-wrapper-pairup">
        <div class="profile-post-pairup">
            <img src="{{ url_for('profile_pics', filename=user.profile_pic) if user.profile_pic and user.profile_pic != 'pfp.jpg' else url_for('static', filename='pfp.jpg') }}"
                class="pfp">
            <div class="profile-name-date">
                <div class="username">
                    <a href="/profile/{{ user.id }}">
                        {{ user.first_name }} {{ user.last_name }}
                    </a>
                </div>
            </div>
        </div>
        <div class="follow-action">
            <form action="{{ url_for('accept_match', target_id=user.id) }}" method="post" style="display:inline;">
                <button type="submit" class="follow-button-profile no-margin">Accept</button>
            </form>
            <form action="{{ url_for('decline_match', target_id=user.id) }}" method="post" style="display:inline;">
                <button type="submit" class="follow-button-profile-secondary no-margin">Decline</button>
            </form>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>No more matches available.</p>
    {% endif %}
</div>

{% endblock %}