{% extends "base.html" %}
{% block content %}

<div class="card">
    <div class="post-title">Match</div>
    {% if users %}
    <div class="card-content">
        <div class="photo"></div>
        <div class="info">
            <div class="name-card">{{ user.first_name }}</div>
            <div class="who">{{ user.role }}</div>
            <div class="icons">
                <img src="fb.png" alt="Facebook" class="icon1">
                <img src="gmail.png" alt="Gmail" class="icon2">
            </div>
        </div>
    </div>
    <div class="request-icons" style="justify-content: center;">
        <button class="circled-icon-1">
            <span class="material-symbols-outlined close-symbol">close</span>
        </button>
        <button class="circled-icon-2">
            <span class="material-symbols-outlined check-symbol">check</span>
        </button>
    </div>
    {% else %}
    <div class="notifs-empty">
        <span class="material-symbols-outlined empty-symbol">sentiment_dissatisfied</span>
        <div class="oops">Oops!</div>
        <div class="nothing">Nothing to show here at the moment.</div>
    </div> {% endif %}
</div>

{% endblock %}