{% extends "base.html" %}
{% block content %}

<div class="card">
    <div class="post-title">Match</div>
    {% if user %}
    <div class="nav-section active card-content" id="card">
        <div class="photo"></div>
        <div class="info">
            <div class="name-card">{{ user.first_name }}</div>
            <div class="who">{{ user.role }}</div>
            <div class="icons">
                <img src="../static/fb.png" alt="Facebook" class="icon1">
                <img src="../static/gmail.png" alt="Gmail" class="icon2">
            </div>
        </div>
    </div>

    <div class="nav-section card-content-two" id="sandp">
        <div class="info-sandp">
            <div class="info-title">Peas in a Pod</div>
            <div class="info-content">
                <div class="info-one">Expert</div>
                <div class="info-one">Advertising</div>
                <div class="info-one">Web Design</div>
            </div>
        </div>
    </div>

    <div class="request-icons" style="justify-content: center;">
        <button class="circled-icon-1">
            <span class="material-symbols-outlined close-symbol">close</span>
        </button>
        <button class="circled-icon-2" id="notify-btn" data-recipient-id="{{ user.id }}">
            <span class="material-symbols-outlined check-symbol">check</span>
        </button>
    </div>
    {% else %}
    <div class="notifs-empty">
        <span class="material-symbols-outlined empty-symbol">sentiment_dissatisfied</span>
        <div class="oops">Oops!</div>
        <div class="nothing">Nothing to show here at the moment.</div>
    </div> {% endif %}
</div>

{% endblock %}