{% extends "base.html" %}
{% block content %}

<div class="card-pairup">
    <div class="post-title-pairup">Pair Up</div>
    <div class="pairup-tagline">Lorem ipsum dolor
        <br>consectetur
    </div>
    <div class="pairup-buttons">
        <form action="{{ url_for('match') }}" method="GET">
            <button type="submit" class="match-button">Match</button>
        </form>
        <button class="browse-button">Browse</button>
    </div>
    <div id="cooldown-message" style="margin-top: 16px; color: red;"></div>
</div>
<div class="card">
    <div class="post-title">Recent</div>
    {% if notifications %}
    {% for display_name, action, image_id, created_at, actor_id in notifications %}
    <div class="profile-more-wrapper-pairup">
        <div class="profile-post-pairup">
            <img src="..\static\pfp.jpg" class="pfp">
            <div class="profile-name-date">
                <div class="username">><a href="{{ url_for('profile', user_id=actor_id) }}">{{ display_name }}</a></div>
                <div class="date">{{ created_at.strftime('%b') }} {{ created_at.day }}</div>
            </div>
        </div>
        <div class="more-frame-wrapper">
            <span class="material-symbols-outlined more-symbol" id="moreBtn">more_horiz</span>
            <div class="frame1" id="frame1" style="display: none;">
                <div class="save">Save</div>
                <div class="hide">Hide</div>
                <div class="report">Report</div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="notifs-empty">
        <span class="material-symbols-outlined empty-symbol">sentiment_dissatisfied</span>
        <div class="oops">Oops!</div>
        <div class="nothing">Nothing to show here at the moment.</div>
    </div>
    {% endif %}
</div>

{% endblock %}