{% extends "base.html" %}
{% block content %}

<div id="pairup-page">
    <div id="pairup-container">
        <div class="card-pairup">
            <div class="post-title-pairup">Pair Up</div>
            <div class="pairup-tagline">Lorem ipsum dolor<br>consectetur</div>
            <div class="pairup-buttons">
                <form action="{{ url_for('match') }}" method="GET">
                    <button type="submit" class="match-button">Match</button>
                </form>
                <button class="browse-button">Browse</button>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="post-title">Recent</div>
    <div class="profile-more-wrapper-pairup">
        <div class="profile-post-pairup">
            <img src="pfp.jpg" class="pfp">
            <div class="profile-name-date">
                <div class="username">Lorem ipsum dolor</div>
                <div class="date">Jan 1</div>
            </div>
        </div>
        <div class="more-frame-wrapper">
            <span class="material-symbols-outlined more-symbol" id="moreBtn">more_horiz</span>
            <div class="frame1" id="frame1" style="display: none;">
                <div class="save">Save</div>
                <div class="hide">Hide</div>
                <div class="report">Report</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}