{% extends "base.html" %}
{% block content %}

<div class="card-pairup">
    <div class="post-title-pairup">Pair Up</div>
    <div class="pairup-tagline">Lorem ipsum dolor
        <br>consectetur
    </div>
    <div class="pairup-buttons">
        <form action="/match" method="post">
            <button type="submit" class="match-button">Match</button>
        </form>
        <form action="/browse" method="post">
            <button type="submit" class="browse-button">Browse</button>
        </form>
    </div>
</div>

<div class="card">
    <div class="post-title">Recent</div>
    {% if recent_matches %}
    {% for match in recent_matches %}
    <div class="profile-more-wrapper-pairup">
        <div class="profile-post-pairup">
            <img src="{{ url_for('profile_pics', filename=match[4]) if match[4] else url_for('static', filename='pfp.jpg') }}"
                class="pfp">
            <div class="profile-name-date">
                <div class="username"><a href="/profile/{{ match[0] }}">{{ match[1] }} {{ match[2] }}</a></div>
                <div class="date">{{ match[3].strftime('%b') }} {{ match[3].day }}</div>
            </div>
        </div>
        <div class="more-frame-wrapper">
            <span class="material-symbols-outlined more-symbol" id="moreBtn-{{ loop.index }}">more_horiz</span>
            <div class="frame1" id="frame1-{{ loop.index }}" style="display: none;">
                <div class="save">Save</div>
                <div class="hide">Hide</div>
                <div class="report">Report</div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="notifs-empty" style="margin-top: 24px; margin-bottom: 48px;">
        <span class="material-symbols-outlined empty-symbol">sentiment_dissatisfied</span>
        <div class="oops">Oops!</div>
        <div class="nothing">Nothing to show here at the moment.</div>
    </div>
    {% endif %}
</div>

{% endblock %}