{% extends "base.html" %}
{% block content %}

<div class="post1" id="image-{{ image[0] }}" style="margin-bottom: 16px; margin-top: 0;">
    <div class="profile-more-wrapper">
        <div class="profile-post">
            <img src="{{ url_for('static', filename='pfp.jpg') }}" class="pfp">
            <div class="profile-name-date">
                <div class="username">
                    <a href="{{ url_for('profile', user_id=image[4]) }}">
                        {{ image[5] }} {{ image[6] }}
                    </a>
                    {% if image[8] %}
                    and
                    <a href="{{ url_for('profile', user_id=image[8]) }}">
                        {{ image[9] }} {{ image[10] }}
                    </a>
                    {% endif %}
                </div>
                <div class="date">Jan 1</div> <!-- Optional: replace with dynamic date -->
            </div>
        </div>
        <div class="more-frame-wrapper">
            <span class="material-symbols-outlined more-symbol" id="moreBtn-1">more_horiz</span>
            <div class="frame1" id="frame1-1">
                <a href="#" class="save-button {% if image[0] in saved_image_ids %}saved{% endif %}"
                    data-image-id="{{ image[0] }}">
                    {% if image[0] in saved_image_ids %}Unsave{% else %}Save{% endif %}
                </a>
                <div class="hide">Hide</div>
                <div class="report">Report</div>
                {% if current_user.id == image[4] or current_user.id == image[8] %}
                <div class="delete" onclick="deleteImage({{ image[0] }})">Delete</div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="caption {% if not image[2].strip() %}no-caption{% endif %}">
        {{ image[2] }}
    </div>
    <div class="image-container">
        <img src="{{ image[1] }}" class="image-post">
    </div>
    <div class="interactions">
        <div class="lcs">
            <form class="like-form" data-image-id="{{ image[0] }}">
                <button type="submit" style="all: unset;">
                    <div class="partner like-button" id="like-button-{{ image[0] }}">
                        <span class="material-symbols-outlined lcs-symbol">thumb_up</span>
                        <div class="partner-label">Like</div>
                    </div>
                </button>
            </form>
            <div class="partner" id="openOverlayComments-1">
                <span class="material-symbols-outlined lcs-symbol">comment</span>
                <div class="partner-label">Comment</div>
            </div>
            <div class="partner" id="openOverlayShare-1">
                <span class="material-symbols-outlined lcs-symbol">share</span>
                <div class="partner-label">Share</div>
            </div>
        </div>
        <div id="openOverlayLikes-1" role="button" tabindex="0" style="cursor: pointer;">
            <div class="metrics like-count" id="like-count-{{ image[0] }}" data-image-id="{{ image[0] }}">
                <span class="like-number">{{ image[3] }}</span>
                <span class="like-text">{{ 'Like' if image[3] == 1 else 'Likes' }}</span>
            </div>
        </div>
    </div>
</div>
<div class="overlayLikes" id="overlayLikes-1">
    <div class="overlay-content-likes">
        <button class="close-icon">
            <span class="material-symbols-outlined overlay-close-symbol" id="closeOverlayLikes-1">close</span>
        </button>
        <div class="overlay-title">Likes</div>
        <div class="scrollable-div-likes" id="scrollableDivLikes-1" data-image-id="{{ image[0] }}">
            <p class="loading-msg" style="display: none;">Loading likes...</p>
        </div>
    </div>
</div>
<div class="overlayComments" id="overlayComments-1">
    <div class="overlay-content-comments">
        <button class="close-icon"><span class="material-symbols-outlined overlay-close-symbol"
                id="closeOverlayComments-1">close</span></button>
        <div class="overlay-title">Comment</div>
        <div class="scrollable-div-comments" id="scrollableDivComments-1">
            <div id="commentList-{{ image[0] }}"></div>
            {% set ns = namespace(has_comments=false) %}
            {% for comment in comments %}
            {% if comment[1] == image[0] %}
            {% set ns.has_comments = true %}
            <div class="profile-comment-wrapper">
                <div class="profile-more-wrapper">
                    <div class="profile-post-comments">
                        <img src="..\static\pfp.jpg" class="pfp">
                        <div class="profile-name-date">
                            <div class="username"><a href="{{ url_for('profile', user_id=comment[6]) }}">{{
                                    comment[2] }}</a></div>
                            <div class="date">{{ comment[4].strftime('%b') }} {{ comment[4].day }}
                            </div>
                        </div>
                    </div>
                    <div class="more-frame-wrapper">
                        <!--<span class="material-symbols-outlined more-symbol">more_horiz</span>-->
                    </div>
                </div>
                <div class="comment-like-wrapper">
                    <div class="comment">{{ comment[3] }}</div>
                    <div class="like-metrics-wrapper">
                        <form class="like-form" data-comment-id="{{ comment[0] }}">
                            <button type="submit" style="all: unset;">
                                <div class="partner like-button" id="like-button-{{ comment[0] }}">
                                    <span class="material-symbols-outlined lcs-symbol">thumb_up</span>
                                    <div class="partner-label">Like</div>
                                </div>
                            </button>
                        </form>
                        <div id="openOverlayCommentLikes-1" role="button" tabindex="0" style="cursor: pointer;">
                            <div class="metrics like-count" id="like-count-comment-{{ comment[0] }}"
                                data-comment-id="{{ comment[0] }}">
                                <span class="like-number">{{ comment_likes_data[comment[0]] | length }}</span>
                                <span class="like-text">{{ 'Like' if comment_likes_data[comment[0]] | length == 1 else
                                    'Likes' }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overlayLikes" id="overlayCommentLikes-1">
                <div class="overlay-content-likes">
                    <button class="close-icon">
                        <span class="material-symbols-outlined overlay-close-symbol"
                            id="closeOverlayCommentLikes-1">close</span>
                    </button>
                    <div class="overlay-title">Likes</div>
                    <div class="scrollable-div-likes" id="scrollableDivCommentLikes-1"
                        data-comment-id="{{ comment[0] }}">
                        <p class="loading-msg" style="display: none;">Loading likes...</p>
                    </div>
                </div>
            </div>
            <div class="line-comments"></div>
            {% endif %}
            {% endfor %}
            {% if not ns.has_comments %}
            <div class="comments-empty">
                <span class="material-symbols-outlined empty-symbol">sentiment_dissatisfied</span>
                <div class="oops">Oops!</div>
                <div class="nothing">Nothing to show here at the moment.</div>
            </div>
            {% endif %}
        </div>
        <div class="comment-bar">
            <img src="..\static\pfp.jpg" class="pfp">
            <form class="comment-text comment-form" data-image-id="{{ image[0] }}">
                <input class="tagline-comment comment-input" type="text" name="comment" placeholder="Enter your comment"
                    required>
                <button class="send-button" type="submit">Send</button>
            </form>
        </div>
    </div>
</div>
<div class="overlayShare" id="overlayShare-1">
    <div class="overlay-content-share">
        <button class="close-icon"><span class="material-symbols-outlined overlay-close-symbol"
                id="closeOverlayShare-1">close</span></button>
        <div class="overlay-title">Share</div>
        <div class="share-wrapper">
            <div class="share-via">Share via</div>
            <div class="icon-grid">
                <img src="..\static\fb.png" class="fb">
                <img src="..\static\ig.png" class="ig">
                <img src="..\static\x.png" class="x">
                <img src="..\static\gmail.png" class="gmail">
                <img src="..\static\linkedin.png" class="linkedin">
                <img src="..\static\telegram.png" class="telegram">
            </div>
            <div class="or-copy-link">or copy link</div>
            <div class="link-wrapper">
                <div class="link">https://ocularis.app/post/123</div>
                <button class="link-button"><span
                        class="material-symbols-outlined link-symbol">content_copy</span></button>
            </div>
        </div>
    </div>
</div>

{% endblock %}