<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ocularis Requests</title>
</head>

<body>
    <h2>Friend Requests</h2>
    <p>{{ requests }}</p>

    {% if requests %}
      <ul>
        {% for req in requests %}
          <li>
            {{ req[1] }} {{ req[2] }}
            <a href="/accept_request/{{ req[0] }}">Accept</a>
            <a href="/reject_request/{{ req[0] }}">Reject</a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No pending requests.</p>
    {% endif %}
</body>

</html>