{% extends "base.html" %}
{% block content %}

<div class="settings-div">
    <div class="settings-card">
        <div class="post-title-settings">Settings</div>
        <div class="sections">
            <div class="section-sub selected-section">Profile</div>
            <div class="section-sub">Alerts</div>
            <div class="section-sub">Display</div>
            <div class="section-sub">Privacy</div>
            <div class="section-sub">Blocking</div>
        </div>
        <form method="POST" enctype="multipart/form-data" action="{{ url_for('settings') }}">
            <div class="section-title">Profile</div>
            <div class="section-tagline">Update your photo and personal details here.</div>
            <div class="line-comments-section"></div>

            <!-- PHOTO -->
            <div class="sub-wrapper">
                <div class="subname">Photo</div>
                <div class="section-space"></div>
                <div class="sub-sub-wrapper">
                    <img class="settings-photo"
                        src="{{ url_for('profile_pics', filename=user.profile_pic or 'pfp.jpg') }}">
                    <div class="edit-photo">
                        <div class="delete-photo">Delete</div>
                        <div class="update-photo">
                            <input type="file" name="profile_pic" accept="image/*">
                        </div>
                    </div>
                </div>
            </div>

            <!-- NAME -->
            <div class="line-comments-section"></div>
            <div class="sub-wrapper">
                <div class="subname">Name</div>
                <div class="section-space"></div>
                <div class="name-field-wrapper">
                    <input class="settings-field" type="text" placeholder="First Name" id="first-name" name="first_name"
                        value="{{ user.first_name }}" maxlength="100" required>
                    <input class="settings-field" type="text" placeholder="Last Name" id="last-name" name="last_name"
                        value="{{ user.last_name }}" maxlength="100" required>
                </div>
            </div>

            <!-- ROLE -->
            <div class="line-comments-section"></div>
            <div class="sub-wrapper">
                <div class="subname">Role</div>
                <div class="section-space"></div>
                <input class="settings-field" type="text" placeholder="ex. Graphic Designer" id="role" name="role"
                    value="{{ user.role or '' }}" maxlength="100" required>
            </div>

            <!-- LOCATION -->
            <div class="line-comments-section"></div>
            <div class="sub-wrapper">
                <div class="subname">Location</div>
                <div class="section-space"></div>
                <div class="sub-location-wrapper">
                    <div class="label-wrapper" style="margin-bottom: 12px">
                        <select class="location-settings" id="country" name="country" required>
                            <option value="">Select your country</option>
                            {% for c in countries %}
                            <option value="{{ c.iso2 }}" data-iso="{{ c.iso2 }}" {% if
                                user.country|trim|lower==c.iso2|trim|lower %}selected{% endif %}>
                                {{ c.name }}
                            </option>
                            {% endfor %}
                        </select>
                        <span class="material-symbols-outlined down-symbol">arrow_drop_down</span>
                    </div>
                    <div class="label-wrapper" style="margin-bottom: 12px">
                        <select class="location-settings" id="state" name="state" required>
                            <option value="">Select your region or province</option>
                            {% if user.state %}
                            <option selected value="{{ user.state }}">{{ user.state }}</option>
                            {% endif %}
                        </select>
                        <span class="material-symbols-outlined down-symbol">arrow_drop_down</span>
                    </div>
                    <div class="label-wrapper">
                        <select class="location-settings" id="city" name="city" required>
                            <option value="">Select your city</option>
                            {% if user.city %}
                            <option selected value="{{ user.city }}">{{ user.city }}</option>
                            {% endif %}
                        </select>
                        <span class="material-symbols-outlined down-symbol">arrow_drop_down</span>
                    </div>
                </div>
            </div>
            <div class="line-comments-section"></div>
            <div class="sub-wrapper">
                <div class="subname">Skills</div>
                <div class="section-space"></div>
                <div class="checkbox-grid" style="margin-bottom: 0">
                    {% for category in categories %}
                    <label class="checkbox-item">
                        <input type="checkbox" name="skills" value="{{ category }}">
                        {{ category }}
                    </label>
                    {% endfor %}
                    <!--<a href="#" class="view-more">View all fields...</a>-->
                </div>
            </div>
            <div class="line-comments-section"></div>
            <div class="sub-wrapper">
                <div class="subname">Preferences</div>
                <div class="section-space"></div>
                <div class="checkbox-grid" style="margin-bottom: 0">
                    {% for category in categories %}
                    <label class="checkbox-item">
                        <input type="checkbox" name="skills" value="{{ category }}">
                        {{ category }}
                    </label>
                    {% endfor %}
                    <!--<a href="#" class="view-more">View all fields...</a>-->
                </div>
            </div>
            <!-- SKILLS -->
            <div class="line-comments-section"></div>
            <div class="sub-wrapper">
                <div class="subname">Skills</div>
                <div class="section-space"></div>
                <div class="checkbox-grid">
                    {% for category in categories %}
                    <label class="checkbox-item">
                        <input type="checkbox" name="skills[]" value="{{ category }}" {% if category in
                            user.skills.split(', ') %}checked{% endif %}>
                {{ category }}
            </label>
            {% endfor %}
        </div>
    </div>

    <!-- PREFERENCES -->
    <div class="line-comments-section"></div>
    <div class="sub-wrapper">
        <div class="subname">Preferences</div>
        <div class="section-space"></div>
        <div class="checkbox-grid">
            {% for category in categories %}
            <label class="checkbox-item">
                <input type="checkbox" name="preferences[]" value="{{ category }}"
                    {% if category in user.preferences.split(', ') %}checked{% endif %}>
                {{ category }}
            </label>
            {% endfor %}
        </div>
    </div>

    <!-- EXPERIENCE LEVEL -->
    <div class="line-comments-section"></div>
    <div class="sub-wrapper">
        <div class="subname">Experience Level</div>
        <div class="section-space"></div>
        <div class="left-align">
            {% for value, label in experience_levels %}
            <label class="radio-item">
                <input type="radio" name="experience_level" value="{{ value }}"
                    {% if value == user.experience_level %}checked{% endif %}>
                {{ label }}
            </label>
            {% endfor %}
        </div>
    </div>

    <!-- SOCIALS -->
    <div class="line-comments-section"></div>
    <div class="sub-wrapper">
        <div class="subname">Linked Accounts</div>
        <div class="section-space"></div>
        <table class="social-table">
            <tr>
                <td><label for="facebook">Facebook</label></td>
                <td><input type="url" id="facebook" name="facebook" value="{{ user.facebook or '' }}"></td>
            </tr>
            <tr>
                <td><label for="instagram">Instagram</label></td>
                <td><input type="url" id="instagram" name="instagram" value="{{ user.instagram or '' }}"></td>
            </tr>
            <tr>
                <td><label for="x">X</label></td>
                <td><input type="url" id="x" name="x" value="{{ user.x or '' }}"></td>
            </tr>
            <tr>
                <td><label for="linkedin">LinkedIn</label></td>
                <td><input type="url" id="linkedin" name="linkedin" value="{{ user.linkedin or '' }}"></td>
            </tr>
            <tr>
                <td><label for="telegram">Telegram</label></td>
                <td><input type="url" id="telegram" name="telegram" value="{{ user.telegram or '' }}"></td>
            </tr>
        </table>
    </div>

    <!-- SUBMIT -->
    <div class="line-comments-section"></div>
    <div class="button-container">
        <button class="save-changes-button" type="submit">Save Changes</button>
    </div>
</form>

<script>
    const selectedStateCode = "{{ user.state }}";
</script>
                        <!--

    <h1>Account Settings</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul>
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <form method="POST" enctype="multipart/form-data" action="{{ url_for(' settings') }}">
                        <label for="profile_pic">Profile Picture:</label><br />
                        <input id="profile_pic" type="file" name="profile_pic" accept="image/*" /><br /><br />

                        <label for="cover_photo">Cover Photo:</label><br />
                        <input id="cover_photo" type="file" name="cover_photo" accept="image/*" /><br /><br />

                        <label>First Name:
                            <input type="text" name="first_name" value="{{ user.first_name }}" required />
                        </label><br />

                        <label>Last Name:
                            <input type="text" name="last_name" value="{{ user.last_name }}" required />
                        </label><br />

                        <label>Role:
                            <input type="text" name="role" value="{{ user.role or '' }}" />
                        </label><br />


                        <p>User country: {{ user.country }}</p>

                        <label>Country:
                            <select id="country" name="country" required>
                                <option value="">Select Country</option>
                                {% for c in countries %}
                                <option value="{{ c.iso2 }}" data-iso="{{ c.iso2 }}" {% if
                                    user.country|trim|lower==c.iso2|trim|lower %}selected{% endif %}>
                                    {{ c.name }}
                                </option>
                                {% endfor %}
                            </select>
                        </label><br />

                        <label>State/Province:
                            <select id="state" name="state" required>
                                <option value="">Select State</option>
                                {% if user.state %}
                                <option selected value="{{ user.state }}">{{ user.state }}</option>
                                {% endif %}
                            </select>
                        </label><br />

                        <label>City:
                            <select id="city" name="city" required>
                                <option value="">Select City</option>
                                {% if user.city %}
                                <option selected value="{{ user.city }}">{{ user.city }}</option>
                                {% endif %}
                            </select>
                        </label><br />


                        <label>Skills:</label><br />
                        {% for category in categories %}
                        <label>
                            <input type="checkbox" name="skills[]" value="{{ category }}" {% if category in
                                user.skills.split(', ') %}checked{% endif %}>
    {{ category }}
  </label><br />
    {% endfor %}

    <label>Preferences:</label><br />
    {% for category in categories %}
    <label>
        <input type="checkbox" name="preferences[]" value="{{ category }}"
        {% if category in user.preferences.split(' , ') %}checked{% endif %}>
        {{ category }}
    </label><br />
    {% endfor %}

<label>Experience Level:
    <select name="experience_level">
        {% for level_id, label in experience_levels %}
            <option value="{{ level_id }}" {% if level_id == user.experience_level %}selected{% endif %}>
                {{ label }}
            </option>
        {% endfor %}
    </select>
</label><br />


    <h3>Linked Accounts</h3>

    <label>Facebook:
        <input type="text" name="facebook" value="{{ user.facebook or '' }}" />
    </label><br />

    <label>Instagram:
        <input type="text" name="instagram" value="{{ user.instagram or '' }}" />
    </label><br />

    <label>X (Twitter):
        <input type="text" name="x" value="{{ user.x or '' }}" />
    </label><br />

    <label>LinkedIn:
        <input type="text" name="linkedin" value="{{ user.linkedin or '' }}" />
    </label><br />

    <label>Telegram:
        <input type="text" name="telegram" value="{{ user.telegram or '' }}" />
    </label><br />

    <button type="submit">Update Settings</button>
</form>

-->


<div>Delete Account</div>

<form method="POST" action="{{ url_for(' delete_account_route') }}">
                            <button type="submit" class="danger-btn">Delete Account</button>
        </form>
    </div>

    {% endblock %}