<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ocularis Upload</title>
</head>

<body>
    <h2>Upload an Image</h2>
    <form action="{{ url_for('upload_image') }}" method="POST" enctype="multipart/form-data">
        <label for="image">Select an Image:</label>
        <input type="file" id="image" name="image" required><br><br>

        <label for="caption">Caption:</label>
        <input type="text" id="caption" name="caption" placeholder="Enter caption"><br><br>

        <fieldset>
            <legend>Select Tags:</legend>
            {% for tag in tags %}
                <input type="checkbox" id="{{ tag }}" name="tags" value="{{ tag }}">
                <label for="{{ tag }}">{{ tag }}</label><br>
            {% endfor %}
        </fieldset><br>

        <input type="submit" value="Upload">
    </form>
</body>

</html>